* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: antiquewhite;
    padding: 20px;
}

h1 {
    text-align: center;
}

main {
    background-color: rgb(255, 249, 242);
    padding: 40px;
    flex: 1;
}

table {
    margin: 0 auto;
    padding: 10px;
    font-size: 26px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid;
}


th,
td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

td button {
    position: relative;
    bottom: 3px;
    font-weight: bold;
}


td span {
    display: inline-block;
    width: 40px;
}

.newBookBtn {
    width: 100px;
    margin: 40px auto;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
}

.container {
    display: none;
}

form {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

h2 {
    margin-top: 0px;
}

form>div>label {
    width: 50px;
    display: inline-block;
}

input[type="text"],
input[type="number"] {
    padding: 2px;
}

form fieldset {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

form button {
    font-weight: bold;
    padding: 5px 10px;
}

.editBtn {
    margin-left: 5px;
}

footer {
    text-align: center;
}